{% extends 'base.html.twig' %}

{% block title %}UserFav{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold dark:text-white text-center">Favoris</h1>

    <table class="table text-sm text-left table-auto content-center grid place-items-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user_fav.id }}</td>
            </tr>
            <tr>
                <th>Email user</th>
                <td>{{ user_fav.emailUser }}</td>
            </tr>
            <tr>
                <th>Date Envoie</th>
                <td>{{ user_fav.dateEnvoie }}</td>
            </tr>
            <tr>
                <th>Bien Id</th>
                <td>
                    {% for id in user_fav.idBien %}
                    {{ id }}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="grid place-items-center">
        <a href="{{ path('app_user_fav_crud_index') }}">
            <button class="p-4 px-6 py-3 text-white bg-gray-500 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out mb-3">
                Back to list
            </button>
        </a>

        <a href="{{ path('app_user_fav_crud_edit', {'id': user_fav.id}) }}">
            <button class="p-4 px-6 py-3 text-white bg-gray-500 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out mb-3">
                Edit
            </button>
        </a>
    </div>

    {{ include('user_fav_crud/_delete_form.html.twig') }}
{% endblock %}
