{% extends 'base.html.twig' %}

{% block title %}Statistiques du site{% endblock %}

{% block body %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <div class="grid grid-flow-col mb-6">
        {#                                               STATISTIQUE : Nombre de biens par catégorie#}
        <div class="grid grid-flow-col mb-6">
            <div class="chart-container p-5">
                <h1 class="mt-6 text-white bg-green-500 font-bold rounded-lg border shadow-lg content-center justify-items-center p-2">
                    STATISTIQUE : Nombre de biens par Code Postal
                </h1>
                <div class="chart-container" style="position: relative; display: flex;
                         align-items: center; justify-content: center;
                         height:40vh; width:40vw">
                    <canvas id="chartCP"></canvas>
                </div>
                <script>
                    const ctxCP = document.getElementById('chartCP').getContext('2d');
                    const chartCP = new Chart(ctxCP, {
                        type: 'bar',
                        data: {
                            labels: [
                                {% for i in 0..countByCode|length-1 %}
                                '{{ countByCode[i]["cp"] }}',
                                {% endfor %}
                            ],
                            datasets: [{
                                label: 'Nombre de biens par Code Postal',
                                data: [
                                    {% for i in 0..countByCity|length-1 %}
                                    {{ countByCode[i]["max"] }},
                                    {% endfor %}
                                ],
                                backgroundColor: [
                                    {% for i in 0..countByCity|length-1 %}
                                    {% set r = 0 %}
                                    {% set g = random(100,200) %}
                                    {% set b = random(150,255) %}
                                    'rgb({{ r }}, {{ g }}, {{ b }})',
                                    // 'rgb(0,113,206)',
                                    {% endfor %}
                                ],
                            }],
                        },
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                },
                                title: {
                                    display: true,
                                    text: 'Diagramme du nombre de biens par code postal'
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
        {#                                                STATISTIQUE : Nombre de favoris créés à l'année#}
        <div class="grid grid-flow-col mb-6">
            <div class="chart-container p-5" style="height:50vh; width:50vw">
                <h1 class="mt-6 text-white bg-green-500 font-bold rounded-lg border shadow-lg content-center justify-items-center p-2">
                    STATISTIQUE : Meilleures catégories des favoris par jour
                </h1>
                <canvas id="chartCATFAV"></canvas>
                {% set bestCatByDay = [] %}
                {% for i in 1..31 %}
                    {% set status = false %}
                    {% for j in 0..biensByFavorite|length-1 %}
                        {% if biensByFavorite[j] is defined %}
                            {% set date = biensByFavorite[j][1] %}
                            {% set year = date|date("Y") %}
                            {% set month = date|date("m") %}
                            {% set day = date|date("d") %}
                            {% if day == i and year == "now"|date("Y") and month == "now"|date("m") and bestCatByDay[i] is not defined %}
                                {% set bestCatByDay = bestCatByDay|merge([biensByFavorite[j][0]]) %}
                                {% set status = true %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if status == false %}
                        {% set bestCatByDay = bestCatByDay|merge([0]) %}
                    {% endif %}
                {% endfor %}
                <script>
                    const ctxCATFAV = document.getElementById('chartCATFAV').getContext('2d');
                    const dataCATFAV = {
                        labels: [
                            {% for i in 1..31 %}
                            '{{ i }}',
                            {% endfor %}
                        ],
                        datasets: [{
                            label: 'Meilleures catégories des favoris par jour',
                            data: [
                                {% for i in 0..bestCatByDay|length-1 %}
                                {% if bestCatByDay[i] > 1 %}
                                {% set a = [] %}
                                {% for cat in categories %}
                                {% if cat.intitule == bestCatByDay[i] %}
                                {% set a = cat.id %}
                                {{ a }},
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                0,
                                {% endif %}
                                {% endfor %}
                            ],
                            fill: false,
                            backgroundColor: [
                                {% for i in 0..bestCatByDay|length-1 %}
                                'rgb(0,113,206)',
                                {% endfor %}
                            ],
                            tension: 0.1
                        }]
                    };
                    const chartCATFAV = new Chart(ctxCATFAV, {
                        type: 'bar',
                        data: dataCATFAV,
                        options: {
                            responsive: true,
                            plugins: {
                                legend: {
                                    position: 'bottom',
                                },
                                title: {
                                    display: true,
                                    text: ''
                                }
                            },
                            scales: {
                                y: {
                                    beginAtZero: true,
                                    ticks: {
                                        callback: function(value, index, values) {
                                            if (value == 0) {
                                                return "Aucun";
                                            }
                                            //for in i 0 to categories|length-1 if value == i return categories[i].intitule
                                            {% for cat in categories %}
                                            if (value == {{ cat.id }}) {
                                                return "{{ cat.intitule }}";
                                            }
                                            {% endfor %}
                                        }
                                    }
                                }
                            }
                        }
                    });
                </script>
            </div>
        </div>
    </div>
    <div class="p-1 mb-6">
        <div class="grid grid-flow-col mb-6">
            {#                                                            STATISTIQUE : Nombre de biens par catégorie#}
            <div class="grid grid-flow-col mb-6">
                <div class="chart-container p-5" style="height:45vh; width:45vw">
                    <h1 class="mt-6 text-white bg-green-500 font-bold rounded-lg border shadow-lg content-center justify-items-center p-2">
                        STATISTIQUE : Nombre de biens par catégorie
                    </h1>
                    <div class="chart-container" style="position: relative; display: flex;
                         align-items: center; justify-content: center;
                         height:45vh; width:45vw">
                        <canvas id="chart"></canvas>
                    </div>
                    <script>
                        const ctx = document.getElementById('chart').getContext('2d');
                        const chart = new Chart(ctx, {
                            type: 'pie',
                            data: {
                                labels: [
                                    {% for cat in categories %}
                                    '{{ cat.intitule }}',
                                    {% endfor %}
                                ],
                                datasets: [{
                                    label: 'Nombre de biens par catégorie',
                                    data: [
                                        {% for i in 0..countSorted|length-1 %}
                                        {{ countSorted[i]["nombre"] }},
                                        {% endfor %}
                                    ],
                                    backgroundColor: [
                                        {% for i in 0..countSorted|length-1 %}
                                        {% set r = random(0,100) %}
                                        {% set g = random(200,255) %}
                                        {% set b = random(140,255) %}
                                        'rgb({{ r }}, {{ g }}, {{ b }})',
                                        {% endfor %}
                                    ],
                                }],
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Diagramme du nombre de biens par catégorie'
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            {#                                                            STATISTIQUE : Nombre de biens par ville#}
            <div class="grid grid-flow-col mb-6">
                <div class="chart-container p-5">
                    <h1 class="mt-6 text-white bg-green-500 font-bold rounded-lg border shadow-lg content-center justify-items-center p-2">
                        STATISTIQUE : Nombre de biens par ville
                    </h1>
                    <div class="chart-container" style="position: relative; display: flex;
                         align-items: center; justify-content: center;
                         height:50vh; width:50vw">
                        <canvas id="chartVILLE"></canvas>
                    </div>
                    <script>
                        const ctxVILLE = document.getElementById('chartVILLE').getContext('2d');
                        const chartVILLE = new Chart(ctxVILLE, {
                            type: 'doughnut',
                            data: {
                                labels: [
                                    {% for i in 0..countByCity|length-1 %}
                                    '{{ countByCity[i]["city"] }}',
                                    {% endfor %}
                                ],
                                datasets: [{
                                    label: 'Nombre de biens par ville',
                                    data: [
                                        {% for i in 0..countByCity|length-1 %}
                                        {{ countByCity[i]["max"] }},
                                        {% endfor %}
                                    ],
                                    backgroundColor: [
                                        {% for i in 0..countByCity|length-1 %}
                                        {% set r = 0 %}
                                        {% set g = random(100,200) %}
                                        {% set b = random(150,255) %}
                                        'rgb({{ r }}, {{ g }}, {{ b }})',
                                        // 'rgb(0,113,206)',
                                        {% endfor %}
                                    ],
                                }],
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Diagramme du nombre de biens par ville'
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
        {#                                                STATISTIQUE : Nombre de favoris créés au mois#}
        <div class="grid grid-flow-col mb-6">
            <div class="flex justify-between">
                <div class="chart-container p-5" style="height:40vh; width:40vw">
                    {% set currentYear = "now"|date("Y") %}
                    <h1 class="mt-6 text-white bg-green-500 font-bold rounded-lg border shadow-lg content-center justify-items-center p-2">
                        STATISTIQUE : Nombre de favoris créés pour chaque mois sur l'année {{ currentYear }}
                    </h1>
                    <canvas id="chart2"></canvas>
                    {% set months = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'] %}
                    {% set dataMonths = []%}
                    {% for i in 1..12 %}
                        {% set status = false %}
                        {% for j in 0..countByMonth|length-1 %}
                            {% if countByMonth[j] is defined and countByMonth[j]["month"] == i and countByMonth[j]["year"] == currentYear %}
                                {% set dataMonths = dataMonths|merge([countByMonth[j]["count"]]) %}
                                {% set status = true %}
                            {% endif %}
                        {% endfor %}
                        {% if status == false %}
                            {% set dataMonths = dataMonths|merge([0]) %}
                        {% endif %}
                    {% endfor %}
                    <script>
                        const ctx2 = document.getElementById('chart2').getContext('2d');
                        const data2 = {
                            labels: {{ months|json_encode|raw }},
                            datasets: [{
                                label: 'Nombre de favoris créés pour chaque mois sur {{ currentYear }}',
                                data: [
                                    {% for i in 0..dataMonths|length-1 %}
                                    {{ dataMonths[i] }},
                                    {% endfor %}
                                ],
                                fill: false,
                                borderColor: 'red',
                                tension: 0.1
                            }]
                        };
                        const chart2 = new Chart(ctx2, {
                            type: 'line',
                            data: data2,
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Diagramme du nombre de favoris créés pour chaque mois sur {{ currentYear }}'
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            {#                                                            STATISTIQUE : Nombre de favoris créés à l'année#}
            <div class="grid grid-flow-col mb-6">
                <div class="chart-container p-5" style="height:40vh; width:40vw">
                    <h1 class="mt-6 text-white bg-green-500 font-bold rounded-lg border shadow-lg content-center justify-items-center p-2">
                        STATISTIQUE : Nombre de favoris créés par an
                    </h1>
                    <canvas id="chartYEAR"></canvas>
                    {% set years = ['2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030', '2031', '2032', '2033'] %}
                    {% set dataYears = []%}
                    {% for i in 1..years|length %}
                        {% set status = false %}
                        {% for j in 0..countByYear|length-1 %}
                            {% if countByYear[j] is defined and countByYear[j]["year"] == i+2021 %}
                                {% set dataYears = dataYears|merge([countByYear[j]["count"]]) %}
                                {% set status = true %}
                            {% endif %}
                        {% endfor %}
                        {% if status == false %}
                            {% set dataYears = dataYears|merge([0]) %}
                        {% endif %}
                    {% endfor %}
                    <script>
                        const ctxYEAR = document.getElementById('chartYEAR').getContext('2d');
                        const dataYEAR = {
                            labels: {{ years|json_encode|raw }},
                            datasets: [{
                                label: 'Nombre de favoris créés par an',
                                data: [
                                    {% for i in 0..dataYears|length-1 %}
                                    {{ dataYears[i] }},
                                    {% endfor %}
                                ],
                                fill: false,
                                borderColor: 'red',
                                tension: 0.1
                            }]
                        };
                        const chartYEAR = new Chart(ctxYEAR, {
                            type: 'line',
                            data: dataYEAR,
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'bottom',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Diagramme du nombre de favoris créés par an'
                                    }
                                }
                            }
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
