{% extends 'base.html.twig' %}

{% block title %}Bien{% endblock %}

{% block body %}
    <h1 class="text-4xl font-bold dark:text-white text-center">Bien</h1>

    <table class="table text-sm text-left table-auto content-center grid place-items-center">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bien.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ bien.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ bien.description }}</td>
            </tr>
            <tr>
                <th>Is locatif</th>
                <td>{{ bien.isLocatif ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ bien.prix }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ bien.ville }}</td>
            </tr>
            <tr>
                <th>Cp</th>
                <td>{{ bien.cp }}</td>
            </tr>
            <tr>
                <th>Surface</th>
                <td>{{ bien.surface }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ bien.ref }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ bien.image }}</td>
            </tr>
        </tbody>
    </table>
    <div class="grid place-items-center">
        <a href="{{ path('app_bien_c_r_u_d_index') }}">
            <button class="p-4 px-6 py-3 text-white bg-gray-500 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-green-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out mb-3">
                Back to list
            </button>
        </a>

        <a href="{{ path('app_bien_c_r_u_d_edit', {'id': bien.id}) }}">
            <button class="p-4 px-6 py-3 text-white bg-gray-500 font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:shadow-lg focus:outline-none focus:ring-0 active:shadow-lg transition duration-150 ease-in-out mb-3">
                Edit
            </button>
        </a>
    </div>

    {{ include('bien_crud/_delete_form.html.twig') }}
{% endblock %}
